.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  height: 85px;
}

.navbar-list > li {
  display: flex;
  align-items: center;
}

.navbar-list > li > a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-list > li > a:hover:not(.active) {
  background-color: #ddd;
}

.navbar-list > li > a.active {
  color: white;
  background-color: #4caf50;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 600px) {
  .banner-main {
    margin-top: 120px;
    height: 225px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: #f8f9fa !important;
}

.mr-auto {
  float: left;
}

.basic-navbar-nav {
  /* float: left; */
}

.navbar-brand {
  padding: 0;
  padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    margin: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-main {
    margin-top: 120px;
    height: 225px;
  }
}

.splash-image {
  width: 300px;
  height: 300px;
}

.splash-top-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.screen-div {
  padding: 25px;
}

.top-div-home {
  margin-top: -50px;
  width: 58%;
}

@media only screen and (max-width: 600px) {
  .top-div-home {
    width: auto;
  }
}

.splash-list {
  margin: auto;
  width: 83%;
}

.container-fluid {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
}
.container-fluid-footer {
  height: 80px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container-fluid-footer {
  }
  /* .footer-form-two {
    margin-top: 25px;
  } */
}

.our-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.get-involved {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 150px; */
  margin-bottom: 150px;
}

.about-us:last-child {
  margin-bottom: 350px;
}

.mission-div {
  width: 75%;
  margin-bottom: 50px;
}

.about-div {
  width: 75%;
  margin-top: 145px;
}
.about-div:first-child {
  width: 75%;
  /* margin-top: 105px; */
}

.about-div > h2 {
  margin-bottom: -5;
}

.about-div-two {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 105px;
  justify-content: space-evenly;
}
.ms-one {
  font-size: 40px;
}

.ms-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -85px;
}
.ms-four {
  margin-left: 90px;
  justify-content: space-around;
  text-align: left;
}

.footer {
  position: fixed;
}

.coffe-pic {
  height: 330%;
  width: 33%;
  object-fit: cover;
}
.coffe-pic-two {
  height: 330%;
  width: 33%;
  object-fit: cover;
}

.navbar {
  height: 98px !important;
  font-size: 20px;
}

.vision-div {
  text-align: center;
}

.h-vision {
  margin-top: 35px;
  font-size: 30px;
}
.nav {
  margin-top: 10px;
}

.program-sub-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
}

.sub-p {
  padding: 8px;
  margin: 10px;
  text-align: left;
}

.navbar-inverse {
  background-color: #f6f6f6;
}
.navbar-collapse {
}

.sub-center {
  align-content: center;
  align-self: center;
  text-align: center;
}

.about-margin {
  margin: 85px;
}

.banner-main {
  margin-top: 40px;
  height: 325px;
}
@media only screen and (max-width: 600px) {
  .banner-main {
    margin-top: 120px;
    height: 225px;
  }
}

/* EMAIL FORM */

input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 65%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.social-div {
  margin-top: 35px;
  align-content: center;
}
.social-header {
  margin-bottom: 45px;
}

.devicons {
  text-align: center;
  padding: 15px;
}

.fab {
  margin-left: 15px;
  font-size: 40px;
  color: #3c55a3;
}

.paypal {
  margin-top: 55px;
  font-size: 155px;
}

.formy {
  text-align: center;
}

.sub-button {
  margin-top: 55px;
}

.join-team {
  text-align: center;
}

.sub-sub {
  text-align: center;
}

.MuiButton-containedPrimary {
  height: 50px;
}

.subsub-two {
  align-self: t;
}

.apply-box {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  margin-left: 40px;
  margin-right: 40px;
}

.last-sub {
  margin-top: 55px;
}
.writeaway {
  margin-top: 35px;
}

.misson-secret {
  width: 45%;
}
.ms-seven {
  margin-bottom: -70px;
}

.values {
}

.the-facts-header {
  margin-left: 8%;
}

.the-facts-main {
  margin-top: 25px;
}

.navbar-nav {
  padding-top: 16px;
}

.values-list {
  font-size: 25px;
  line-height: 45px;
}

.values-left {
  margin-left: 170px;
}

.inverse-pic {
  transform: scaleX(-1);
}

.coming-soon {
  margin-top: 150px;
  outline: none;
}

.jobs-div {
  text-align: center;
}

.low-margin {
  margin-bottom: 0px;
}

.smaller-one {
  font-size: 20px;
  margin-left: 45px;
}

.center-program {
  text-align: center;
}

.nobullet {
  list-style-type: none;
}

.foot-pad {
  margin-left: 40px;
}

.donate-header {
  margin-top: 150px;
  margin-bottom: -50px;
}

@media only screen and (max-width: 600px) {
  .footer-form-two {
    margin-top: 30px;
  }
  .values-left {
    margin-left: 0px;
  }
  .h-vision {
    margin-top: 82px;
    font-size: 30px;
  }
}

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0a38f5;
}
.dark-pink-text {
  color: #ac003a;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}

.mobile-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0px;
}
.mobile-nav-li {
  padding: 0px;
}

.mobile-nav > li {
  padding: 5px;
  font-size: 11px;
  padding-left: 0px;
}

.mobile-nav-master {
  position: fixed;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 999;
  order: 1;
}
.mobile-nav-master {
  position: fixed;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.mobile-main-manner {
  width: 10px;
  height: 10px;
}

.mobile-resize-img {
  margin-top: 150px;
}
